{% if (categories) %} 

<div id="boss-procate-{{ module }}" class="bt-product-category box {{ show_slider ? 'slide' : 'non-slide' }}" {% if (bg_image) %} style="background-image: url('{{ bg_image }}');" {% endif %} >
  <div class="{{ sidebar ? 'container-fluid' : 'container' }}">
    <div class="{{ sidebar ? 'row' : 'bt-row' }}">
      <div class="box-content">
        <div class="row">
          <div class="col-sm-3">
            <h2>{{ heading_title }}</h2>
            <ul class="tabs-headings">
              {% for index,category in categories %} 
              <li class="{{ index == 0 ? 'active' : '' }}"> <a href="#product-category-tab{{ index~module }}" title="tab" data-toggle="tab"> {{ category['name'] }}</a></li>
              {% endfor %} 
            </ul>
          </div>
          <div class="col-sm-9">
            <div class="tab-content">
              {% for index,category in categories %} 
              <div id="product-category-tab{{ index~module }}" class="tab-pane {{ index == 0 ? 'in active' : '' }}">
                {% if (show_slider) %} 
                <div class="box-product owl-carousel-2 owl-theme-2 nav-visible nav-middle">
                  {% for products in array_chunk(category['products'], num_row) %} 
                  <div class="bt-item">
                    {% for product in products %} 
                    <div class="product-layout {{ product_layout }}">
                      <div class="product-thumb">
                        <div class="image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" class="img-responsive" /></a>
                          <div class="button-group">
                            <button type="button" onclick="btadd.cart('{{ product['product_id'] }}', '{{ product['minimum'] }}');"><i class="lnr lnr-cart"></i> <span>{{ button_cart }}</span></button>
                            <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="btadd.wishlist('{{ product['product_id'] }}');"><i class="lnr lnr-heart"></i></button>
                            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="btadd.compare('{{ product['product_id'] }}');"><i class="lnr lnr-sync"></i></button>
                          </div>
                        </div>
                        <div class="caption">
                          <h4 class="name"><a href="{{ product['href'] }}">{{ product['name'] }}</a></h4>
                          <p class="price">
                            {% if (not product['special']) %} 
                            {{ product['price'] }} 
                            {% else %} 
                            <span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
                            {% endif %} 
                            {% if (product['tax']) %} 
                            <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
                            {% endif %} 
                          </p>
                          {% if (product['rating']) %} 
                          <div class="rating">
                            {% set i = 1 %}{% for i in i..5 %} 
                            {% if (product['rating'] < i) %} 
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                            {% else %} 
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                            {% endif %} 
                            {% endfor %} 
                          </div>
                          {% endif %} 
                        </div>
                        {% if (product['special']) %} 
                        <div class="save-off">{{ text_save_off }}</div>
                        {% endif %} 
                      </div>
                    </div>
                    {% endfor %} 
                  </div>
                  {% endfor %} 
                </div>
                {% else %} 
                <div class="row">
                  {% for product in category['products'] %} 
                  <div class="product-layout {{ product_layout }} col-lg-{{ 12/column }} col-md-{{ 12/column }} col-sm-{{ 12/round(column/2) }} col-xs-12">
                    <div class="product-thumb">
                      <div class="image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" class="img-responsive" /></a>
                        <div class="button-group">
                          <button type="button" onclick="btadd.cart('{{ product['product_id'] }}', '{{ product['minimum'] }}');"><i class="lnr lnr-cart"></i> <span>{{ button_cart }}</span></button>
                          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="btadd.wishlist('{{ product['product_id'] }}');"><i class="lnr lnr-heart"></i></button>
                          <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="btadd.compare('{{ product['product_id'] }}');"><i class="lnr lnr-sync"></i></button>
                        </div>
                      </div>
                      <div class="caption">
                        <h4 class="name"><a href="{{ product['href'] }}">{{ product['name'] }}</a></h4>
                        <p class="price">
                          {% if (not product['special']) %} 
                          {{ product['price'] }} 
                          {% else %} 
                          <span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
                          {% endif %} 
                          {% if (product['tax']) %} 
                          <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
                          {% endif %} 
                        </p>
                        {% if (product['rating']) %} 
                        <div class="rating">
                          {% set i = 1 %}{% for i in i..5 %} 
                          {% if (product['rating'] < i) %} 
                          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                          {% else %} 
                          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                          {% endif %} 
                          {% endfor %} 
                        </div>
                        {% endif %} 
                      </div>
                      {% if (product['special']) %} 
                      <div class="save-off">{{ text_save_off }}</div>
                      {% endif %} 
                    </div>
                  </div>
                  {% endfor %} 
                </div>
                {% endif %} 
              </div>
              {% endfor %} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} 
{% if (show_slider) %} 
<script type="text/javascript"><!--
$(function() {
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		$($(e.target).attr('href')).find('.owl-carousel2').owlCarousel2('invalidate', 'width').owlCarousel2('update')
	});
	
	if ($('html').attr('dir') == 'rtl') {
		var rtl = true;
	} else {
		var rtl = false;
	}
	
	if ({{ sidebar }}) {
		var responsive = {};
	} else {
		var responsive = {
			992: {
				items: {{ per_row }} 
			},
			768: {
				items: {{ round(per_row/2) }} 
			},
			560: {
				items: {{ round(per_row/2) }} 
			},
			0: {
				items: 1
			}
		}
	}
	
	$('#boss-procate-{{ module }} .box-product').each(function(index, element) {
		var elm = $(this);
		var loop = (elm.children().length > {{ per_row }}) ? true : false;
		
		elm.owlCarousel2({
			items: {{ per_row }},
			loop: loop,
			nav: true,
			navText: ['<img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCAyNCA0MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjIuNDU3MjA3NCAxLjAwNzQ2MTQ3bC0yMSAyMC4wMjQ4MjE0MyAyMC45NDc5Mzk3IDE5Ljk3NTE3ODYiIHN0cm9rZT0iIzJEMkQyRCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==" />', '<img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCAyNCA0MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMS40NTY3OSAxLjAwNzQ2MTQ3bDIxIDIwLjAyNDgyMTQzTDEuNTA4ODUgNDEuMDA3NDYxNSIgc3Ryb2tlPSIjMkQyRDJEIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+" />'],
			dots: false,
			margin: 30,
			rtl:rtl,
			responsive: responsive,
			onInitialize: function(e) {
				var elm = e.target;
				$(elm).parent().css('display', 'block');
			},
			onInitialized : function(e) {
				var elm = e.target;
				$(elm).parent().css('display', '');
			}
		});
	});
});
//--></script>
{% endif %} 
