<div class="b_bulk_table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="text-center">{{ entry_image }}</td>
        {% if (search_product) %}
        <td class="text-left">{{ entry_name }}</td>
        {% endif %}
        {% if (search_model) %}
        <td class="text-left">{{ entry_model }}</td>
        {% endif %}
        {% if (search_price) %}
        <td class="text-left">{{ entry_price }}</td>
        {% endif %}
        {% if (option_id_show is not empty ) %}
        {% for option_show in option_id_show %}
        <td>{{ option_show['option_name'] }}</td>
        {% endfor %} {% endif %}
        <td class="text-left"></td>
      </tr>
    </thead>
    <tbody>
      {% if (products is not empty ) %}
      {% for product in products %}
      <tr id="add_to_cart{{ product['product_id'] }}">
        <td class="text-center image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" title="{{ product['name'] }}" alt="{{ product['name'] }}" /></a></td>
        {% if (search_product) %}
        <td class="text-left name"><a title="{{ product['name'] }}" href="{{ product['href'] }}">{{ product['name'] }}</a></td>
        {% endif %}
        {% if (search_model) %}
        <td class="text-left">{{ product['model'] }}</td>
        {% endif %}
        {% if (search_price) %}
        <td>{% if (product['price']) %}
          <div class="price">
            {% if (not product['special']) %}
            {{ product['price'] }}
            {% else %}
            <span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
            {% endif %}
            {% if (product['tax']) %}
            <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
            {% endif %}
          </div>
          {% endif %}</td>
        {% endif %}
        {% if (option_id_show is not empty ) %}
        {% set flag_array = [] %}
        {% set flag_count = count(product['options']) %}
        {% for key,option_show in option_id_show %}
        {% set flag = 0 %}
        <td>{% for i in flag..flag_count if (flag < flag_count) %}
          {% set option = product['options'][flag] is defined ?product['options'][flag]:'' %}
          {% if (option is not empty and option['option_id'] == option_show['option_id'] and not in_array(option['option_id'], flag_array)) %}
          {% set flag_array = option['option_id'] %}
          {% set flag = flag_count %}
          {% if (option['type'] == 'select') %}
          <div class="form-group{{ option['required'] ? ' required' : '' }}">
            <select name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control selectpicker">
              <option value="">{{ text_select }}</option>
              {% for option_value in option['product_option_value'] %}
              <option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }}
              {% if (option_value['price']) %}
              ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
              {% endif %}
              </option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          {% if (option['type'] == 'radio') %}
          <div class="row">
            <div class="col-sm-6 col-xs-12 form-group-tab form-group{{ option['required'] ? ' required' : '' }}">
              <div id="input-option{{ option['product_option_id'] }}">
                {% for option_value in option['product_option_value'] %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" />
                    {{ option_value['name'] }}
                    {% if (option_value['price']) %}
                    ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                    {% endif %}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if (option['type'] == 'checkbox') %}
            <div class="col-sm-6 col-xs-12 form-group-tab form-group{{ option['required'] ? ' required' : '' }}">
              <div id="input-option{{ option['product_option_id'] }}">
                {% for option_value in option['product_option_value'] %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" />
                    {{ option_value['name'] }}
                    {% if (option_value['price']) %}
                    ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                    {% endif %}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% if (option['type'] == 'image') %}
          <div class="form-group{{ option['required'] ? ' required' : '' }}">
            <div id="input-option{{ option['product_option_id'] }}">
              {% for option_value in option['product_option_value'] %}
              <div class="radio bt-image-option">
                <label>
                  <input class="hidden" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" />
                  <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" /> {{ option_value['name'] }}
                  {% if (option_value['price']) %}
                  ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                  {% endif %}
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% if (option['type'] == 'text') %}
          <div class="form-group{{ option['required'] ? ' required' : '' }}">
            <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control" />
          </div>
          {% endif %}
          {% if (option['type'] == 'textarea') %}
          <div class="form-group{{ option['required'] ? ' required' : '' }}">
            <textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
          </div>
          {% endif %}
          {% if (option['type'] == 'file') %}
          <div class="form-group{{ option['required'] ? ' required' : '' }}">
            <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block btn-upload"><i class="fa fa-upload"></i> {{ button_upload }}</button>
            <input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
          </div>
          {% endif %}
          {% if (option['type'] == 'date') %}
          <div class="form-group{{ option['required'] ? ' required' : '' }}">
            <div class="input-group date">
              <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control" />
              <span class="input-group-btn">
              <button class="btn-default" type="button"><i class="fa fa-calendar"></i></button>
              </span></div>
          </div>
          {% endif %}
          {% if (option['type'] == 'datetime') %}
          <div class="form-group{{ option['required'] ? ' required' : '' }}">
            <div class="input-group datetime">
              <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
              <span class="input-group-btn">
              <button type="button" class="btn-default"><i class="fa fa-calendar"></i></button>
              </span></div>
          </div>
          {% endif %}
          {% if (option['type'] == 'time') %}
          <div class="form-group{{ option['required'] ? ' required' : '' }}">
            <div class="input-group time">
              <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
              <span class="input-group-btn">
              <button type="button" class="btn-default"><i class="fa fa-calendar"></i></button>
              </span></div>
          </div>
          {% endif %}
          {% endif %} {% set flag = flag + 1 %} {% endfor %}</td>
         {% endfor %}{% endif %}
        <td class="cart"><div class="input-group quantity">
            <span class="input-group-btn"><button onclick="changeQty('{{ 'select-number'~product['product_id'] }}',0,'{{ product['minimum'] }}'); return false;" class="btn btn-default decrease"><i class="fa fa-minus"></i></button></span>
            <input id="select-number{{ product['product_id'] }}" type="text" name="quantity" value="{{ product['minimum'] }}" size="1" class="form-control text-center" />
            <span class="input-group-btn"><button onclick="changeQty('{{ 'select-number'~product['product_id'] }}',1,'{{ product['minimum'] }}'); return false;" class="btn btn-default increase"><i class="fa fa-plus"></i></button></span>
          </div>
            <button type="button" onclick="addto('select-number{{ product['product_id'] }}', '{{ product['product_id'] }}');" class="btn btn-primary btn-block"><i class="lnr lnr-cart"></i></button>
          <input type="hidden" name="product_id" value="{{ product['product_id'] }}"></td>
      </tr>
      {% endfor %}{% endif %}
    </tbody>
  </table>
</div>
{% if (pagination is not empty ) %}
<div class="pagination-result">
  <div class="row">
    <div class="col-sm-6 text-left">{{ results }}</div>
    <div class="col-sm-6 text-right">{{ pagination }}</div>
  </div>
</div>
{% endif %}
{% if (not products) %}
<div class="content_bg">
  <p>{{ text_empty }}</p>
</div>
{% endif %}
<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" rel="stylesheet" type="text/css">
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					//$(node).button('loading');
				},
				complete: function() {
					//$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').attr('value', json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
