<div id="bt-menu-{{ module }}" class="bt-mega-menu">
  <div class="container-fluid">
    <div class="row">
      <nav class="mega-menu">
        <ul class="nav nav-pills">
          {% for menu in menus %} 
          {% if (menu['status']) %} 
          <li {% if ((menu['menurow'] is not empty) and count(menu['menurow']) > 0) %} {{ 'class="parent"' }} {% endif %}>
            {% if ((menu['menurow'] is not empty) and count(menu['menurow']) > 0) %} {{ '<span class="plus visible-xs"></span>' }} {% endif %} 
            <a href="{{ menu['url'] }}">
            {% if (menu['icon_class_status']) %} {{ '<span class="'~menu['icon_class']~'"></span>' }} {% else %} {% if (menu['thumb']) %} 
            <span><img alt="{{ menu['title'] }}" src="{{ menu['thumb'] }}"/></span>
            {% endif %} {% endif %}
            <span class="menu-title">{{ menu['title'] }}</span>
            {% if (menu['label_color'] is not empty) %} 
            <span class="label label-success"style="background-color:#{{ menu['label_color'] }}">{{ menu['label'] }}</span>
            {% endif %} 
            {% if ((menu['menurow'] is not empty) and count(menu['menurow']) > 0) %} {{ '<i class="fa fa-angle-down"></i>' }} {% endif %} 
            </a>
            {% if (menu['menurow'] is not empty) %} 
            <div class="dropdown drop-grid-{{ menu_column }}-{{ menu['num_column']>menu_column?menu_column:menu['num_column'] }}" style="{{ 'max-width:'~menu_width~'px;' }}">
              {% set menurow = menu['menurow'] %} 
              {% for row in menurow %} 
              {% if (row['status']) %} 
              <div class="menu-row row-col-{{ menu['num_column']>menu_column?menu_column:menu['num_column'] }}" {% if (row['bg_color'] is not empty) %}style="background-color:#{{ row['bg_color'] }}" {% endif %}>
                {% if (menu['num_column']>menu_column) %} 
                {% set numrow = menu_column %} 
                {% else %} 
                {% set numrow = menu['num_column'] %} 
                {% endif %} 
                {% if (row['columns'] is not empty) %} 
                {% if (row['bg_image']) %} 
                <img alt="bg image" src="{{ row['bg_image'] }}" class="row-bg-image bt-menu-bg">
                {% endif %} 
                {% set menucolumn = row['columns'] %} 
                {% set i = 1 %}
                {% for column in menucolumn %} 
                {% if (column['status']) %}
                <div class="menu-column row-grid-{{ column['num_column']>numrow?numrow:column['num_column'] }}">
                  {% if (column['type'] == 'information') %} 
                  <!-- information -->
                  <ul class="column information">
                    {% for information in column['coldata'] %} 
                    <li class="col-grid-{{ column['num_column']>numrow?numrow:column['num_column'] }}"><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
                    {% endfor %} 
                  </ul>
                  {% endif %} 
                  {% if (column['type'] == 'html') %} 
                  <!-- html-->
                  <div class="staticblock">{{ column['coldata'] }}</div>
                  {% endif %} 
                  {% if (column['type'] == 'category') %} 
                  <!-- category -->
                  
                  {% if (column['parent']) %} 
                  <a href="{{ column['parent']['href'] }}" class="parent"> {{ column['parent']['name'] }} </a>
                  {% endif %} 
                  <ul class="column category">
                    {% for category in column['coldata'] %} 
                    <li class="col-grid-{{ column['num_column'] }} {% if (count(category['children']) > 0) %} {{'sub_category' }} {% endif %}"> <a href="{{ category['href'] }}"> {{ category['name'] }} 
                      {% if (count(category['children']) > 0) %} 
                      <i class="fa fa-caret-right pull-right"></i>
                      {% endif %} 
                      </a>
                      {% if (count(category['children']) > 0) %} 
                      <div class="sub_menu">
                        <ul>
                          {% for cat in category['children'] %} 
                          {% if (count(cat['children']) > 0) %} 
                          <li class="sub_category"><a href="{{ cat['href'] }}">'.$cat['name'].'<i class="fa fa-angle-right"></i></a>
                            showSubmenu(cat) 
                          </li>
                          {% else %} 
                          <li ><a href="{{ cat['href'] }}">{{ cat['name'] }}</a></li>
                          {% endif %} 
                          {% endfor %} 
                        </ul>
                      </div>
                      {% endif %} 
                    </li>
                    {% endfor %} 
                  </ul>
                  {% endif %} 
                  {% if (column['type'] == 'product') %} 
                  <ul class="column product">
                    <!-- product -->
                    {% for product in column['coldata'] %} 
                    <li class="col-grid-{{ column['num_column'] }}"> <!--style="width: {{ product['li_width'] }}px;"-->
                      <div class="image">
                        {% if (product['thumb']) %} 
                        <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}"/></a><br/>
                        {% endif %} 
                      </div>
                      <div class="name"><a href="{{ product['href'] }}">{{ product['name'] }}</a><br />
                      </div>
                      <div class="price">
                        {% if (not product['special']) %} 
                        {{ product['price'] }} 
                        {% else %} 
                        <span class="price-old">{{ product['price'] }}</span> <span class="price-new">{{ product['special'] }}</span>
                        {% endif %} 
                      </div>
                    </li>
                    {% endfor %} 
                  </ul>
                  {% endif %} 
                  {% if (column['type'] == 'manufacturer') %} 
                  <!-- manufacturer -->
                  <ul class="column manufacturer">
                    {% for manufacturer in column['coldata'] %} 
                    <li class="col-grid-{{ column['num_column']>numrow?numrow:column['num_column'] }}"><!--style="width: {{ manufacturer['li_width'] }}px;"--> 
                      <a href="{{ manufacturer['href'] }}"><img src="{{ manufacturer['image'] }}" alt="{{ manufacturer['name'] }}"/></a><br/>
                      <a href="{{ manufacturer['href'] }}">
                      {% if (manufacturer['show_name']) %} 
                      <span class="name">{{ manufacturer['name'] }}</span>
                      {% endif %} 
                      </a></li>
                    {% endfor %} 
                  </ul>
                  {% endif %} 
                </div>
                {% endif %} {% endfor %}
                {% set i = i + 1 %}{% endif %} 
              </div>
              {% endif %}{% endfor %} 
            </div>
            {% endif %} 
          </li>
          {% endif %} {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>