{% set config = registry.get('config') %}
{% set url = registry.get('url') %}
{% set language_id = config.get('config_language_id') %}

{% set boss_manager = config.get('boss_manager') %}
{% set boss_footer = config.get('boss_footer') %}
{% set boss_social = config.get('boss_social') %}
{% set boss_payment = config.get('boss_payment') %}
{% set boss_custom = config.get('boss_custom') %}

{% set home = url.link('common/home') %}
{% if (is_file(constant('DIR_IMAGE') ~ config.get('config_logo'))) %}
  {% set logo = 'image/' ~ config.get('config_logo') %}
{% else %}
  {% set logo = '' %}
{% endif %}
{% set name = config.get('config_name') %}
{{ footer_top }}
<footer>
  <div class="content cover-bg">
    <div class="container">
      {% if (footer_first) %}
      {{ footer_first }}
      {% endif %}
      <div class="logo"> <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a> </div>
      {% if (boss_footer['about_us']['status']is defined) %}
        <div class="footer-about">
          <h3>{{boss_footer['about_us']['title'][language_id] ? boss_footer['about_us']['title'][language_id] : '' }}</h3>
          {% if (boss_footer['about_us']['image']) %}
            <a href="{{ boss_footer['about_us']['link'] }}"><img src="image/{{ boss_footer['about_us']['image'] }}" alt="Everything" title="Everything"/></a>
          {% endif %}
          {{ html_entity_decode(boss_footer['about_us']['content'][language_id],constant('ENT_QUOTES'), 'UTF-8') }}
        </div>
      {% endif %}
      <div class="footer-link">
        <ul class="list-inline">
          {% if (boss_footer['link']['contact_us'] is defined ) %}
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          {% endif %}
          {% if (boss_footer['link']['return'] is defined ) %}
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          {% endif %}
          {% if (boss_footer['link']['account'] is defined ) %}
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          {% endif %}
          {% if (boss_footer['link']['newsletter'] is defined ) %}
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          {% endif %}
          {% if (boss_footer['link']['site_map'] is defined ) %}
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
          {% endif %}
          {% if (boss_footer['link']['brands'] is defined ) %}
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          {% endif %}
          {% if (boss_footer['link']['gift_vouchers'] is defined ) %}
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          {% endif %}
          {% if (boss_footer['link']['affiliates'] is defined ) %}
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          {% endif %}
          {% if (boss_footer['link']['specials'] is defined ) %}
          <li><a href="{{ special }}">{{ text_special }}</a></li>
          {% endif %}
          {% if (informations and boss_footer['link']['information'] is defined ) %}
            {% for information in informations %}
            <li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      {% if (boss_footer['social']['status']is defined) %}
        <div class="social">
          <ul class="list-inline">
            {% if (boss_social) %}
              {% for social in boss_social %}
                <li>
                  <a class="social-link" href="{{ social['link'] }}" title="{{ social['name'][language_id] is defined ? social['name'][language_id] : '' }}">
                    {% if (social['image']) %}
                      <img src="image/{{ social['image'] }}" alt="{{ social['name'][language_id] is defined ? social['name'][language_id] : '' }}"/>
                    {% endif %}
                    {% if (social['icon']) %}
                      <i class="fa {{ social['icon'] }}"></i>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if (boss_footer['payment']['status']is defined) %}
        <div class="payment">
          <ul class="list-inline">
            {% if (boss_payment) %}
              {% for payment in boss_payment %}
                <li>
                  <a class="payment-link" href="{{ payment['link'] }}" title="{{ payment['name'][language_id] is defined ? payment['name'][language_id] : '' }}">
                    {% if (payment['image']) %}
                      <img src="image/{{ payment['image'] }}" alt="{{ payment['name'][language_id] is defined ? payment['name'][language_id] : '' }}"/>
                    {% endif %}
                    {% if (payment['icon']) %}
                      <i class="fa {{ payment['icon'] }}"></i>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if (boss_footer['embed']['status']is defined) %}
        <div class="footer-embed">
          <h3>{{ boss_footer['embed']['title'][language_id] is defined ? boss_footer['embed']['title'][language_id] : '' }}</h3>
          <div>{{ boss_footer['embed']['content'][language_id] is defined ? html_entity_decode(boss_footer['embed']['content'][language_id]) : '' }}</div>
        </div>
      {% endif %}
    </div>
  </div>
  {{ footer_second }}
  {% if (boss_footer['powered']['status']is defined) %}
    <div class="powered text-center"> {{ (boss_footer['powered']['content'][language_id] is defined) ? html_entity_decode(boss_footer['powered']['content'][language_id]) : powered }} </div>
  {% endif %}
</footer>
{% if (boss_manager['animation']is defined) %}
  <script type="text/javascript">
    $(function() {
      var wow = new WOW({animateClass: 'animated'});
      wow.init();
    });
  </script>
{% endif %}
{% if (boss_manager['button_to_top']is defined) %}
  <div id="back-top" class="back-top" title="Back To Top">
    <span></span>
  </div>
  <script type="text/javascript">
    $(function() {
      $(window).scroll(function() {
        if ($(this).scrollTop() > 600) {
          $('#back-top').fadeIn();
        } else {
          $('#back-top').fadeOut();
        }
      });
      $("#back-top").click(function(e) {
        e.preventDefault();
        $('body,html').animate({
          scrollTop: 0
        }, 800, 'swing');
      });
    });
  </script>
{% endif %}
<script type="text/javascript">
$(function(){
	$('.product-thumb .button-group button:first-child').onresize(function(elm) {
		if (elm.width() < 140) {
			$('span', elm).addClass('hidden');
		} else {
			$('span', elm).removeClass('hidden');
		}
	}).trigger('onresize');
});
</script>
{% if (boss_custom['javascript'] is not empty) %}
<script type="text/javascript">
  {{ boss_custom['javascript'] }}
</script>
{% endif %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->

</body></html>
